# python environments
env
env-*

# python notebooks
**/*.ipynb_checkpoints/

# compilation artifacts
*.pyc

# simulation output is getting too big to host on github
output/

# build artifacts
*.egg-info/

# python so much caching ugh
**/__pycache__/
.pytest_cache
